* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    background-color: rgb(202, 213, 235);
    display: grid;
    place-items: center;
}

.calculadora {
    background-color: rgb(8, 8, 34);
    color: whitesmoke;    
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:.5rem
}

.pantalla {
    grid-column: 1 / 5 ; 
    background-color: rgb(81, 78, 83); /* Color de fondo del botón */
    padding: 1.5rem; /* Espaciado interno del botón */
    font-size: 2rem; /* temaño fuente */
    text-align: right; /* alineacion del texto */
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 600;
}

.btn {
    background-color: rgb(15, 15, 68) ;
    color: rgb(255, 255, 255);
    border: 0; /* bordes */
    padding: 1.5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem; /* Bordes redondeados */
    cursor: pointer; /* Cursor de puntero al pasar el mouse */
    
}

.btn:hover {
    background-color: blueviolet;
}

#cero {
    grid-column: 1 / 3; /* SPAN 2*/ 
}

#igual {
    grid-row: span 2;
    background-color: rgb(70, 62, 78)
}

#igual:hover{
    background-color: rgb(224, 224, 194)
}

